.App {
  text-align: center;
  background: white;
  height: 100%;
  width: 100vw;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainHeading {
  color: #3340a2;
}
.list {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}
.listItem {
  background: #d9e3f0;
  list-style-type: none;
  text-align: center;
  margin: 6px;
  border: solid 1px black;
  height: 200px;
  width: 400px;
}
.heading {
  font-size: medium;
  color: rgb(120, 18, 245);
}
.button {
  background: #000;
  color: aqua;
  padding: 4px;
  margin: 6px;
  border: none;
  border-radius: 6px;
}
.deleteBtn {
  background: red;
  color: aqua;
}
.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 40vw;
  justify-content: flex-start;
  align-items: center;
  background: rgb(147, 199, 239);
}
.label {
  width: 26vw;
  display: flex;
  justify-content: space-between;
  margin: 6px 6px;
}
.input {
  width: 60%;
}
