* {
  --table-color: rgb(55, 139, 55);
  --row-bg-color: rgb(190, 241, 231);
}
#game-table {
  border: 2px solid var(--table-color);
  text-align: center;
  height: 200px;
  width: 400px;
}
.caption {
  background-color: var(--table-color);
  color: white;
  padding: 10px;
  text-transform: uppercase;
}
tr:nth-child(even) {
  background-color: var(--row-bg-color);
}
